Push_JSON_data_into_an_App_or_to_Spreadsheet_file.json
{
  "name": "Push JSON data into an App or to Spreadsheet file",
  "nodes": [
    {
      "parameters": {
        "url": "https://randomuser.me/api/",
        "options": {}
      },
      "id": "3d58a8a9-50dd-4f06-8955-c73c30b64225",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        460
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "users_spreadsheet"
        }
      },
      "id": "ceaf349d-3fa6-44b0-9238-2998ce026175",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1640,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### JSON to Google Sheets\nWe map data from the HTTP Request directly in the `Google Sheets` node, so we don't need a `Set` node before to transform the incoming data.",
        "height": 302,
        "width": 523
      },
      "id": "a8cd75a4-1b2c-4e1f-bd96-0377cc156025",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        206
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### JSON to .CSV\nWe use the `Set` node to trim down the data that we convert to CSV file format (and flatten it from it's previous object-like data structure). Change settings in `Spreadsheet File` node to convert to .xls etc.",
        "height": 299,
        "width": 522
      },
      "id": "a81fb564-f34a-4fd8-9758-6a2fb9bac6e0",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "003a33f1-e060-4373-a97a-0be2c4a5e2a1",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        860,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👋 How to use this template\nThis template shows how you can load JSON data from an API and load it into an App (Google Sheets) or convert to a file. Here's how to use it:\n\n1. Open the `Google Sheets` node and add a credential (or disabled the node)\n2. Click the `Execute Workflow` button, then double click the nodes to see their input and output data\n\n### To customize this template to you needs:\n1. Swap `When clicking \"Execute Workflow\"` and the `HTTP Request` node with an App trigger. If we don't have a Native app trigger, just replace `When clicking \"Execute Workflow\"` with a [Schedule trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/).\n2. Disable or remove parts of the workflow that are not relevant to your usecase.\n4. Activate the workflow \n",
        "height": 590.2004455566864,
        "width": 377.1993316649719
      },
      "id": "b63a19f6-008c-4a38-8112-073433a2d125",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1fAy_eUTZqaUBnCHTvF7F-VCu0zqlGlupgcAdL68UuJA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fAy_eUTZqaUBnCHTvF7F-VCu0zqlGlupgcAdL68UuJA/edit?usp=drivesdk",
          "cachedResultName": "Sync data from one app to another [one-way sync] (Destination example)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fAy_eUTZqaUBnCHTvF7F-VCu0zqlGlupgcAdL68UuJA/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "426c8cce-0af6-4c9a-9702-9695093fe7fd",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1440,
        340
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Full Name",
              "value": "={{ $json.results[0].name.first }} {{ $json.results[0].name.last }}"
            },
            {
              "name": "Country",
              "value": "={{ $json.results[0].location.country }}"
            },
            {
              "name": "email",
              "value": "={{ $json.results[0].email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5886f624-ab5a-4cd2-be2b-b166f617f77c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        700
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "",
  "meta": {
    "instanceId": "307382b38c67d1530ca68d83854638962fd3a0593e5ffc691843a9cd148ba469"
  },
  "tags": []
}