Repo Info.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vars": {
      "main": [
        [
          {
            "node": "Get Repo Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Info": {
      "main": [
        [
          {
            "node": "How many repo issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How many repo issues?": {
      "main": [
        [
          {
            "node": "Write Repo Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Repo Metrics": {
      "main": [
        [
          {
            "node": "Get Pages to Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Issue Events": {
      "main": [
        [
          {
            "node": "Strip extra data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Issues": {
      "main": [
        [
          {
            "node": "FunctionItem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem2": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Set Finals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pages to Call": {
      "main": [
        [
          {
            "node": "Set Page Number & Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page Number & Vars": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Finals": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Get Open Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-29T00:06:45.795Z",
  "id": "12",
  "name": "Repo Info",
  "nodes": [
    {
      "parameters": {},
      "id": "73fed95b-21b2-40c2-a92b-7a97d0a57801",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        360,
        920
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "owner",
              "value": "department-of-veterans-affairs"
            },
            {
              "name": "repo",
              "value": "va.gov-cms"
            },
            {
              "name": "url",
              "value": "https://api.github.com"
            }
          ]
        },
        "options": {}
      },
      "id": "18b41f24-05a1-46e0-9b66-73d1fd46c54e",
      "name": "Set Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"url\"] }}/repos/{{ $json[\"owner\"] }}/{{ $json[\"repo\"] }}",
        "options": {}
      },
      "id": "ff531ea9-71cf-4e4a-9625-32464ed9eaa4",
      "name": "Get Repo Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        960
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ye91R7Ov7X0SyQiHZcSQGD-WoIiJwEAUfzilWqaxZC8/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "documentation-testy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ye91R7Ov7X0SyQiHZcSQGD-WoIiJwEAUfzilWqaxZC8/edit#gid=0"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "id",
        "options": {}
      },
      "id": "381036f0-5375-4b60-a503-6ab40865278a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2040,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "id",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "name": "Open Issues",
              "value": "={{ $json[\"open_issues\"] }}"
            },
            {
              "name": "Forks",
              "value": "={{ $json[\"forks\"] }}"
            }
          ],
          "string": [
            {
              "name": "Repo",
              "value": "={{ $json[\"name\"] }}"
            },
            {
              "name": "Owner",
              "value": "={{ $json[\"owner\"][\"login\"] }}"
            },
            {
              "name": "Description",
              "value": "={{ $json[\"description\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a7a344c-682c-4eaf-8b27-b4ba24db00ba",
      "name": "How many repo issues?",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1200,
        960
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=1687933290",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687933290,
          "mode": "list",
          "cachedResultName": "Repo Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=1687933290"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "id",
        "options": {}
      },
      "id": "e5f0912f-5fbc-4168-871d-170567072310",
      "name": "Write Repo Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1440,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json[\"Owner\"] }}/{{ $json[\"Repo\"] }}/issues/events",
        "options": {}
      },
      "id": "54e13613-424e-4274-8dfb-0eac4b20bf46",
      "name": "Get Repo Issue Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2480,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "event_id",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "name": "issue",
              "value": "={{ $json[\"issue\"][\"number\"] }}"
            }
          ],
          "string": [
            {
              "name": "actor",
              "value": "={{ $json[\"actor\"][\"login\"] }}"
            },
            {
              "name": "actor_type",
              "value": "={{ $json[\"actor\"][\"type\"] }}"
            },
            {
              "name": "is_admin",
              "value": "={{ $json[\"actor\"][\"site_admin\"] }}"
            },
            {
              "name": "event",
              "value": "={{ $json[\"event\"] }}"
            },
            {
              "name": "event_timestamptz",
              "value": "={{ $json[\"created_at\"] }}"
            },
            {
              "name": "event_reason",
              "value": "={{ $json[\"state_reason\"] }}"
            },
            {
              "name": "issue_title",
              "value": "={{ $json[\"issue\"][\"title\"] }}"
            },
            {
              "name": "labels",
              "value": "={{ $json[\"issue\"][\"labels\"] }}"
            },
            {
              "name": "issue_created_at",
              "value": "={{ $json[\"issue\"][\"created_at\"] }}"
            },
            {
              "name": "issue_updated_at",
              "value": "={{ $json[\"issue\"][\"updated_at\"] }}"
            },
            {
              "name": "issue_closed_at",
              "value": "={{ $json[\"issue\"][\"closed_at\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6aed9d7d-10f3-490f-9a10-9dc75bdae95f",
      "name": "Strip extra data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2660,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json[\"owner\"] }}/{{ $json[\"repo\"] }}/issues/events",
        "options": {}
      },
      "id": "ab2af586-8b8a-4b22-9094-8b7cc39cfba5",
      "name": "Get Open Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1760,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/department-of-veterans-affairs/va.gov-cms/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "30"
            },
            {
              "name": "page",
              "value": "={{ $json[\"page\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8facad3-e364-46e7-b669-21f775e8e264",
      "name": "Get Open Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2420,
        960
      ]
    },
    {
      "parameters": {
        "functionCode": "return {\n  Issue: item.number,\n  Title: item.title,\n  Status: item.state,\n  Created_At: item.created_at,\n  Updated_At: item.updated_at,\n  Closed_At: item.closed_at,\n  Labels: item.labels.map(e => e.name).join(', '),\n  URL: item.html_url\n};"
      },
      "name": "FunctionItem2",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        2600,
        960
      ],
      "id": "099b4d9e-98b3-42fb-b1fa-6545069eb09e"
    },
    {
      "parameters": {
        "value": "={{ $json[\"Updated_At\"] }}",
        "dataPropertyName": "DateUpdated",
        "custom": true,
        "toFormat": "X",
        "options": {
          "fromFormat": "YYYY-MM-DD",
          "fromTimezone": "UTC",
          "toTimezone": "UTC"
        }
      },
      "id": "083ee59d-1cde-4231-98af-e96627464973",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2860,
        960
      ]
    },
    {
      "parameters": {
        "value": "={{   $now   }}",
        "dataPropertyName": "Now",
        "custom": true,
        "toFormat": "X",
        "options": {}
      },
      "id": "57186d27-ab50-46f4-9260-61cdbd98cbf9",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        3020,
        960
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "Days Inactive",
              "value": "={{ Number.parseFloat(($json[\"Now\"] - $json[\"DateUpdated\"])/60/60/24).toFixed(0)  }}"
            },
            {
              "name": "Issue",
              "value": "={{ $json[\"Issue\"] }}"
            }
          ],
          "string": [
            {
              "name": "Title",
              "value": "={{ $json[\"Title\"] }}"
            },
            {
              "name": "Status",
              "value": "={{ $json[\"Status\"] }}"
            },
            {
              "name": "Created At",
              "value": "={{ $json[\"Created_At\"] }}"
            },
            {
              "name": "Updated At",
              "value": "={{ $json[\"Updated_At\"] }}"
            },
            {
              "name": "Closed At",
              "value": "={{ $json[\"Closed_At\"] }}"
            },
            {
              "name": "Labels",
              "value": "={{ $json[\"Labels\"] }}"
            },
            {
              "name": "URL",
              "value": "={{ $json[\"URL\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f672ad79-f326-47f0-b2bf-d9167cb97968",
      "name": "Set Finals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3220,
        960
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=1497820415",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1497820415,
          "mode": "list",
          "cachedResultName": "LOGIC/VARS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=1497820415"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "D2:D130"
            }
          }
        }
      },
      "id": "3317cb71-96cd-497d-ae2d-b3883c01dea1",
      "name": "Get Pages to Call",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1680,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "page",
              "value": "={{ $json[\"18\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3da6fed3-3e6f-4c92-bf6c-0d8b5bd050ed",
      "name": "Set Page Number & Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1880,
        960
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=934828957",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 934828957,
          "mode": "list",
          "cachedResultName": "Issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=934828957"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "Issue",
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "55ed7da0-0222-45bf-b42e-beee1556a026",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3740,
        1020
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8ce0c0f1-f1c2-4320-ac25-bb7a85ae4f77",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2140,
        960
      ]
    },
    {
      "parameters": {
        "amount": 1.25,
        "unit": "minutes"
      },
      "id": "a7cf9a31-66f3-4712-9279-90b05240abd3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4000,
        1120
      ],
      "webhookId": "549dae91-76dc-4810-ad8c-bede00da5e08"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "71074c76-2133-4af0-aa7d-56da4c373e85",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        480,
        1180
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-24T16:37:19.000Z",
  "versionId": "856d90c4-f5a0-4db3-8eb6-3b53127f1f01"
}