Stale Issue Updates.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Stalest Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stalest Issue": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-30T10:59:04.162Z",
  "id": "18",
  "name": "Stale Issue Updates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 18
            }
          ]
        }
      },
      "id": "634b87b6-dc5b-4200-85b0-f6be1d049e53",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  team,\n  COUNT(*) AS \"Open Issues\",\n  (EXTRACT(DAY FROM CURRENT_DATE - MIN(gh_updated_at))::text || ' days') AS \"Stalest Issue\",\n  CONCAT((SELECT COUNT(*) FROM github.issues i2 WHERE gh_updated_at < CURRENT_DATE - INTERVAL '6 weeks' AND state = 'open' AND (\n    CASE\n      WHEN team = 'Platform CMS Team' THEN labels LIKE '%Platform CMS Team%'\n      WHEN team = 'Facilities' THEN labels LIKE '%Facilities%'\n      WHEN team = 'Infrastructure' THEN labels LIKE '%Infrastructure%'\n      WHEN team = 'Public Websites' THEN labels LIKE '%Public Websites%'\n      WHEN team = 'Sitewide CMS' THEN labels LIKE '%Sitewide CMS%'\n      WHEN team = 'User Support' THEN labels LIKE '%User Support%'\n      ELSE labels NOT LIKE '%Platform CMS Team%' AND labels NOT LIKE '%Facilities%' AND labels NOT LIKE '%Infrastructure%' AND labels NOT LIKE '%Public Websites%' AND labels NOT LIKE '%Sitewide CMS%' AND labels NOT LIKE '%User Support%'\n    END\n  )), ' issues') AS \"Inactive for 3+ Sprints\",\n  round(((SELECT COUNT(*) FROM github.issues i2 WHERE gh_updated_at < CURRENT_DATE - INTERVAL '6 weeks' AND state = 'open' AND (\n    CASE\n      WHEN team = 'Platform CMS Team' THEN labels LIKE '%Platform CMS Team%'\n      WHEN team = 'Facilities' THEN labels LIKE '%Facilities%'\n      WHEN team = 'Infrastructure' THEN labels LIKE '%Infrastructure%'\n      WHEN team = 'Public Websites' THEN labels LIKE '%Public Websites%'\n      WHEN team = 'Sitewide CMS' THEN labels LIKE '%Sitewide CMS%'\n      WHEN team = 'User Support' THEN labels LIKE '%User Support%'\n      ELSE labels NOT LIKE '%Platform CMS Team%' AND labels NOT LIKE '%Facilities%' AND labels NOT LIKE '%Infrastructure%' AND labels NOT LIKE '%Public Websites%' AND labels NOT LIKE '%Sitewide CMS%' AND labels NOT LIKE '%User Support%'\n    END\n  )) / COUNT(*)::float * 100)) AS \"3+ Sprint Inactive Percentage\"\nFROM (\n  SELECT\n    gh_updated_at,\n    state,\n    CASE\n      WHEN labels LIKE '%Platform CMS Team%' THEN 'Platform CMS Team'\n      WHEN labels LIKE '%Facilities%' THEN 'Facilities'\n      WHEN labels LIKE '%Infrastructure%' THEN 'Infrastructure'\n      WHEN labels LIKE '%Public Websites%' THEN 'Public Websites'\n      WHEN labels LIKE '%Sitewide CMS%' THEN 'Sitewide CMS'\n      WHEN labels LIKE '%User Support%' THEN 'User Support'\n      ELSE 'Unassigned'\n    END AS team\n  FROM github.issues\n) i\nWHERE state = 'open'\nGROUP BY team\nORDER BY team asc;",
        "additionalFields": {}
      },
      "id": "b61102e1-8a8b-4282-88db-6ac2ecf07f2e",
      "name": "Stalest Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        420,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit?pli=1#gid=1742862749",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 1742862749,
          "mode": "list",
          "cachedResultName": "TopLines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=1742862749"
        },
        "columnToMatchOn": "Team",
        "valueToMatchOn": "={{ $json[\"team\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Open Issues",
              "fieldValue": "={{ $json[\"Open Issues\"] }}"
            },
            {
              "column": "Stalest Issue",
              "fieldValue": "={{ $json[\"Stalest Issue\"] }}"
            },
            {
              "column": "Inactive for 3+ Sprints",
              "fieldValue": "={{ $json[\"Inactive for 3+ Sprints\"] }}"
            },
            {
              "column": "3+ Sprint Inactive Percentage",
              "fieldValue": "={{ $json[\"3+ Sprint Inactive Percentage\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab687eb1-0a2b-4929-9b82-c7320894ee43",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        640,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-24T16:37:19.000Z",
  "versionId": "1bdb1599-e650-407b-8143-e5792ca5034f"
}