Useful Nodes.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Current Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Philips Hue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Philips Hue": {
      "main": [
        [
          {
            "node": "NASA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "main": [
        [
          {
            "node": "Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Contacts": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Google Perspective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Perspective": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenThesaurus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenThesaurus": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Trigger": {
      "main": [
        [
          {
            "node": "iCalendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Ghost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghost": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Sendy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sendy": {
      "main": [
        [
          {
            "node": "Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Comprehend": {
      "main": [
        [
          {
            "node": "AWS Lambda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Lambda": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "Cloudflare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Elasticsearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "GitLab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Trigger": {
      "main": [
        [
          {
            "node": "Google BigQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google BigQuery": {
      "main": [
        [
          {
            "node": "Grafana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grafana": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google BigQuery1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google BigQuery1": {
      "main": [
        [
          {
            "node": "MQTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Mailgun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailgun": {
      "main": [
        [
          {
            "node": "Microsoft Graph Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Graph Security": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-30T21:23:47.890Z",
  "id": "20",
  "name": "Useful Nodes",
  "nodes": [
    {
      "parameters": {},
      "id": "d289fa1f-4551-4c14-936f-9f7b1659dcf8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "operation": "currentlyPlaying"
      },
      "id": "b506b834-4466-42d4-be97-9efb819ec1b9",
      "name": "Get Current Song",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        280,
        320
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "6",
          "name": "Reinhardt Spotify"
        }
      }
    },
    {
      "parameters": {},
      "id": "34caf749-d50d-4dc5-9e87-a44a1222dda4",
      "name": "Home Assistant",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {},
      "id": "f5a38741-01a0-47c3-b234-bf1051050b9b",
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true
      },
      "id": "35eece11-2804-48e7-b38d-9519be5d1f09",
      "name": "Philips Hue",
      "type": "n8n-nodes-base.philipsHue",
      "typeVersion": 1,
      "position": [
        480,
        120
      ],
      "credentials": {
        "philipsHueOAuth2Api": {
          "id": "7",
          "name": "Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "9c563be3-a50b-452d-964d-9312edb3e9fe",
      "name": "NASA",
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        700,
        120
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "31ed28d6-4d55-4776-9000-32437294b250",
      "name": "Google Contacts",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        920,
        120
      ]
    },
    {
      "parameters": {},
      "id": "98013bf8-2715-4006-8848-247150b72a19",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1140,
        120
      ]
    },
    {
      "parameters": {},
      "id": "f5bf05bd-eda6-448a-a2ee-d46121e84056",
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        320,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "603169bb-cc28-4e62-87a1-fa0f774e883f",
      "name": "Google Perspective",
      "type": "n8n-nodes-base.googlePerspective",
      "typeVersion": 1,
      "position": [
        540,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0876e14-9c79-445e-95be-409869f8344f",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "Boaty Personal: OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1edf0ae9-1b46-4ec2-bcc8-0b35fa87c69f",
      "name": "OpenThesaurus",
      "type": "n8n-nodes-base.openThesaurus",
      "typeVersion": 1,
      "position": [
        980,
        660
      ]
    },
    {
      "parameters": {},
      "id": "e7e2b461-2e1f-4539-ba42-b3401af785f5",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1200,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42c5961a-ab0d-4755-8805-46146ab43d75",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        60,
        560
      ]
    },
    {
      "parameters": {},
      "id": "acbc3fbc-c869-4be8-8598-2ef07b2216f7",
      "name": "Stripe",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        980,
        580
      ]
    },
    {
      "parameters": {},
      "id": "50c60940-a332-4c0b-ada2-ee43785c06cd",
      "name": "Stripe Trigger",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        580
      ],
      "webhookId": "40650939-7695-4463-a9bc-c3b2fbcb2d8c"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "id": "ee1e2171-d77c-47e6-aaf6-bc9e60056aca",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1420,
        580
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "bentley.hensel@civicactions.com",
          "mode": "list",
          "cachedResultName": "bentley.hensel@civicactions.com"
        },
        "options": {}
      },
      "id": "be71e153-a945-47aa-8d0b-e3f29a69c6bd",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        520,
        380
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "10",
          "name": "CivicActions"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "083addaf-821a-4f92-a755-d30ab9177e56",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1000,
        480
      ]
    },
    {
      "parameters": {},
      "id": "99d27170-efeb-488e-8540-5359280c851f",
      "name": "Trello Trigger",
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        2080,
        580
      ],
      "webhookId": "b7c798e1-18cf-4e16-a233-b9edae3f880d"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "00e4c269-bd44-4429-acc0-9bfdc9bd9b15",
      "name": "iCalendar",
      "type": "n8n-nodes-base.iCal",
      "typeVersion": 1,
      "position": [
        2300,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "654d9e57-fb99-41c5-85f9-74c3d9ddce68",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        920,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eeda4be8-ed35-40d2-871d-823018910143",
      "name": "Ghost",
      "type": "n8n-nodes-base.ghost",
      "typeVersion": 1,
      "position": [
        1140,
        340
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "653e316a-2311-4d43-9535-19ca30664021",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1360,
        340
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "dc5cf9a3-daf7-4af0-b92f-980b94f39a5b",
      "name": "Sendy",
      "type": "n8n-nodes-base.sendy",
      "typeVersion": 1,
      "position": [
        1580,
        340
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "6f4f620c-b9a9-46b5-ba16-3c5f33f61b5a",
      "name": "Hacker News",
      "type": "n8n-nodes-base.hackerNews",
      "typeVersion": 1,
      "position": [
        1800,
        340
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "0a846690-7da6-404b-bae5-12ac1aae5ce8",
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [
        2020,
        340
      ]
    },
    {
      "parameters": {
        "filters": {},
        "options": {}
      },
      "id": "94a02eab-d97c-4925-adff-6d2007742835",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2240,
        340
      ]
    },
    {
      "parameters": {},
      "id": "7502a2f7-48cc-4a5e-a694-a6025a4a3ece",
      "name": "AWS Comprehend",
      "type": "n8n-nodes-base.awsComprehend",
      "typeVersion": 1,
      "position": [
        2120,
        200
      ]
    },
    {
      "parameters": {},
      "id": "2e52a9ec-bc94-4c21-8a7a-f7188fa3f26d",
      "name": "AWS Lambda",
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        2340,
        200
      ]
    },
    {
      "parameters": {},
      "id": "5d27603f-2661-463d-adb5-420f0b26512d",
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        2560,
        200
      ]
    },
    {
      "parameters": {},
      "id": "3c05b5af-f662-4485-afd1-1557b7247cf6",
      "name": "Cloudflare",
      "type": "n8n-nodes-base.cloudflare",
      "typeVersion": 1,
      "position": [
        2780,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "098dba33-0c6a-46c7-a8c1-06df77e3aa14",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {},
      "id": "84051838-0011-4d19-860d-1116c113f03d",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3220,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8c6ab08d-9b6a-43a0-a15f-0e46ef423a16",
      "name": "Elasticsearch",
      "type": "n8n-nodes-base.elasticsearch",
      "typeVersion": 1,
      "position": [
        3440,
        200
      ]
    },
    {
      "parameters": {},
      "id": "ab4cf36b-297b-47a3-a4f6-3a3b36b9fd62",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        3660,
        200
      ]
    },
    {
      "parameters": {},
      "id": "1f924100-132a-427d-b2fa-f759f5632058",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3880,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dd8196ad-8802-40ff-b20d-627438d472f1",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        4100,
        200
      ]
    },
    {
      "parameters": {
        "labels": [],
        "assignees": []
      },
      "id": "1d6cc25a-3d54-45ab-96da-8fe40336bfeb",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        4320,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "labels": [],
        "assignee_ids": []
      },
      "id": "d6136e98-70d2-42e6-a235-0d67e5f82742",
      "name": "GitLab",
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        4540,
        200
      ]
    },
    {
      "parameters": {},
      "id": "f22fc549-a13e-48cc-af17-0a9762b4d919",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        4760,
        200
      ],
      "webhookId": "2a2d8dd3-17f3-48b1-9fe0-657797ae81ae",
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "id": "775a85e6-33bc-4723-ae65-f0fa6ec4d046",
      "name": "GitLab Trigger",
      "type": "n8n-nodes-base.gitlabTrigger",
      "typeVersion": 1,
      "position": [
        4980,
        200
      ],
      "webhookId": "a1d04922-704f-4faf-b1c8-8cadc462460b"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a06bccc0-a9a0-4ba1-a1a3-498fa18a9d91",
      "name": "Google BigQuery",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [
        5200,
        200
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "417ba9cb-c360-4e18-bd17-670f0592d024",
      "name": "Grafana",
      "type": "n8n-nodes-base.grafana",
      "typeVersion": 1,
      "position": [
        5420,
        200
      ]
    },
    {
      "parameters": {},
      "id": "c0511a16-f362-472a-9e62-9fcda97d2ed1",
      "name": "GraphQL",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        5640,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "00202583-2916-42c1-8a91-45b64a4f4703",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5860,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "074aec1c-bf14-4b1f-ad7a-94258d7dbaae",
      "name": "Google BigQuery1",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [
        6080,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c7a9048-56df-428c-8288-c5e30a1dde45",
      "name": "MQTT",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        6300,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5709933f-d15b-4874-b1de-1eb477ba05b0",
      "name": "MQTT Trigger",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        6520,
        200
      ]
    },
    {
      "parameters": {},
      "id": "471537c3-c747-4cfa-8908-69d597e773b2",
      "name": "Mailgun",
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        6740,
        200
      ]
    },
    {
      "parameters": {},
      "id": "1b621d50-c2c9-442d-a8d5-191389400bcf",
      "name": "Microsoft Graph Security",
      "type": "n8n-nodes-base.microsoftGraphSecurity",
      "typeVersion": 1,
      "position": [
        6960,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4e948cba-11f5-47e9-8a2c-82e4f5f96b66",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        7180,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "apiToken",
        "resource": "incident",
        "operation": "create",
        "title": "",
        "serviceId": "",
        "email": "",
        "additionalFields": {},
        "conferenceBridgeUi": {}
      },
      "id": "2f956671-29c5-4277-867c-6a33139cbca4",
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        7400,
        200
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "ed9690c9-6a6c-40e8-aeeb-749383c8b87c",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        7620,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-12-31T00:43:16.000Z",
  "versionId": "bfc8c1e6-33d7-4c2b-b5c5-189cdb61c902"
}